body {
  margin: 0;
  padding: 0;
  background: rgb(32, 32, 32);
  font-family: "Inter", sans-serif;
}

h1 {
  background: rgb(255, 0, 149);
  text-align: center;
  width: 10em;
  height: 1.6em;
  border-radius: 10px;
  padding: 0.5em;
  position: absolute;
  top: -1.4em;
}

main {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto;
  padding: 2rem;
  width: 23rem;
  height: 15rem;
  background: #ffffff;
  display: flex;
  line-height: 2em;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  position: relative;
  top: 10rem;
}


/* css for smaller screen sizes  */
@media (max-width: 450px) {
  h1 {
    background: rgb(255, 0, 149);
    text-align: center;
    width: 10em;
    height: 1.6em;
    border-radius: 10px;
    padding: 0.5em;
    position: absolute;
    top: -1.4em;
  }
  
  main {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    padding: 2rem;
    width: 18rem;
    height: 15rem;
    background: #ffffff;
    display: flex;
    line-height: 2em;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    top: 10rem;
  }
  
}